ion-menu {
    --width: 250px;
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
    
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
  
  @media (min-width: 992px) {
    ion-menu {
      display: block;
      
      ion-menu-toggle {
        display: none;
      }
    }
    
    ion-router-outlet {
      margin-left: 250px;
    }
  }